.navbar {
  .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

  .nav-item.active {
    border-left: #444 3px solid;
  }
}

#myCarousel {
  img {
  height: 400px;
  width: 100%;
  }
}

#home-icons {
  .fa {
    font-size: 55px;
  }
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/lights.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff; 
}

.dark-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#info {
  img {
    max-height: 250px;
  }
}

#video-play {
  position: relative;
  min-height: 200px;
  background: url("../img/image2.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff; 


  .fa {
    color: white;
    font-size: 55px;
  }
  .fa:hover {
    text-decoration: none;
  }
}

#photo-gallery {
  .img {
    min-height: 230px;
  }
}

#main-footer {
  background: black;
}






